.DeleteModalContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    display: flex;
}

.DeleteModalContent {
    color: black;
    text-align: center;
    margin: 240px auto 40% auto;
    background-color: #f4f4f4;
    width: 420px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding: 16px;
    font-size: 18px;
    line-height: 2em;
    height: 360px;
    word-wrap: break-word;
}

.PostDeleteButtons .MuiButton-sizeLarge {
    margin: 16px;
}
