.nav {
    height: 60px;
    line-height: 60px;
    background-color: #197EAB;
    position: relative;
    margin: 0px;
    padding: 16px;
    display: flex;
    top: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    height: 32px;
    width: 32px;
    margin: 0 16px;
}

.link {
    text-decoration: none;
    color: white;
}


.parkly {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    padding-right: 24px;
}